<a href="/">Back to home page</a>
<br>
<br>
<form method="POST" action="/login">
<label> Email </label>
<input type="text" name="email">
<br>
<br>
<label> Password </label>
<input type="password" name="pass">
<br>
<br>
<input type="submit">
</form>