<a href="/">Back to home page</a>
<br>
<br>
<form method="POST" action="/register">
<label>First name: </label>
<input type="text", name="firstName">
<br>
<br>
<label>Last name: </label>
<input type="text", name="lastName">
<br>
<br>
<label>Email: </label>
<input type="email", name="email">
<br>
<br>
<label>Password: </label>
<input type="password", name="pass1">
<br>
<br>
<label>Confirm password: </label>
<input type="password", name="pass2">
<br>
<br>
<input type="submit"></input>
</form>