<form method="post" action="/newRecipe">
	Name: <input type="text" name="recName">
	<br>
	Ingredients: <input type="text" name="ingredients">
	<br>
	Preparation time: <input type="number" name="prepTime">
	<br>
	<input type="submit" value="Save">
</form>